<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>diren_kuang.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>touxiang_boss.jpg</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wofang_bg.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>241</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wofang_xuecao.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuetiao_zhujue.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuetiao_zhujuelan.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>788</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>touxiang_zhujue.jpg</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>837</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vs.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ditu_1.jpg</key>
			<dict>
				<key>width</key>
				<integer>547</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>547</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ditu_kuang.png</key>
			<dict>
				<key>width</key>
				<integer>548</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>548</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>472</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>d_btn_2.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>550</integer>
				<key>y</key>
				<integer>472</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>d_btn_1.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>472</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biaoti_tongji.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>472</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chou_btn2.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>472</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chou_btn1.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ditu_lv.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ditu_lan.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ditu_hong.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ditu_huang.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_4.png</key>
			<dict>
				<key>width</key>
				<integer>548</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>548</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>b_btn_2.jpg</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>700</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>b_btn_1.jpg</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>841</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>c_btn_2.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>c_btn_1.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuye012.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuye_2.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baoguo001.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baoguo_2.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuangbei011.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuangbei_2.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>664</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chongwu002.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>740</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chongwu_2.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>816</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jineng006.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>892</integer>
				<key>y</key>
				<integer>908</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhandou1.png</string>
			<key>realTextureFileName</key>
			<string>zhandou1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>